@page
@model TableManagementSystem.Pages.Admin.TablesPosition.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Table Position</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tablePosition[0].Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tablePosition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TablePositionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TablePositionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TablePositionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
