@page
@model TableManagementSystem.Pages.Admin.Guest.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.guest.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.guest.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.guest.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.guest.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.guest.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.guest.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.guest.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.guest.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.guest.GuestId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
